extends layout
block content
	h1= title
	//script(src="https://unpkg.com/vue")
	script(src="https://cdn.jsdelivr.net/npm/vue@2.6.12")

	div#allExp
		table#expTable
			thead
			tbody
				each value, index in locals.expListLoc
					if (index+1) % 3 == 1
						tr
							td 
								div(class='expCell')
									label(class='expLbl' for='ans'+index) #{locals.expListLoc[index]}
									input(type='text', id='ans'+index value='' onfocusout="chkAns(event)")
							td 
								div(class='expCell')
									label(class='expLbl' for='ans'+ index+1) #{locals.expListLoc[index+1]}
									input(type='text', id='ans'+index+1, value='' onfocusout="chkAns(event)")
							td 
								div(class='expCell')
									label(class='expLbl' for='ans'+ index+2) #{locals.expListLoc[index+2]}
									input(type='text', id='ans'+index+2, value='' onfocusout="chkAns(event)")
				
		div#expLoad
			a(class='button expLoadBtn' onclick="refreshExpList()") Update
		
		div(id='app' class='score')
			label(class='scoretitle') Your score is! &nbsp 
			label(class='score') {{ score }}
		script(src="/javascripts/checkAnswers.js")
